html, body, .page, #main /*.page and #main included because of the mvc style*/
{
    height: 100%;
}

#tulpagraphy
{
    height: 90%;
    position: relative;
}

#controls
{
    height: 50px;
}

#controls #grid-opacity-slider
{
	border: 2px solid steelblue;
	background: aliceblue;
	border-radius: 2px;
	width: 150px;
	display:inline-block;
}

#controls #grid-opacity-slider .ui-slider-handle
{
	border-top: 2px solid rgba(3, 156, 202, .5);
	border-left: 2px solid rgba(3, 156, 202, .5);
	border-right: 2px solid rgba(2, 100, 129, .5);
	border-bottom: 2px solid rgba(2, 100, 129, .5);
	border-radius: 2px;
	background: rgb(4, 134, 173);
}

#controls #scale-slider
{
	border: 2px solid steelblue;
	background: aliceblue;
	border-radius: 2px;
	width: 150px;
	display:inline-block;
}

#controls #scale-slider .ui-slider-handle
{
	border: 2px solid rgb(4, 134, 173);
	border-radius: 2px;
	background: rgba(4, 134, 173, .5);
}


/* Map Styles */
#map 
{
    position: absolute;
    top: 52px; /* 30 plus 2*2 for the border */
    width: 85%;
    bottom: 0;
    left: 0;
    right: 252px;
	overflow:auto;
}

#map .map-container .map
{
	position: relative;
}

#map .map-container .map > * {
	position: absolute;
    width:100%;
    height:100%;
}

.map > .selection-layer > .active-tiles > polygon
{
	fill: white;
	fill-opacity: 0;
	stroke: black;
	stroke-width: 1px;
}

.map > .selection-layer > .active-tiles > polygon:hover {
	fill-opacity: .5;
}

#map > .selection-layer > .active-tiles > polygon
{
	fill: white;
	fill-opacity: 0;
	stroke: black;
	stroke-width: 1px;
}

#map > .selection-layer > .active-tiles > polygon:hover {
	fill-opacity: .5;
}

/* Toolbar, tool-set and tools */
#toolbar 
{
    overflow: auto;
    position: absolute;
    top: 52px; /* 30 plus 2*2 for the border */
    width: 14%;
    bottom: 0;
    right: 0;
}

.hidden
{
	display: none;
	visibility: hidden;
}

.no-decoration
{
	text-decoration: none !important;
}

.center
{
	text-align: center;
}

.no-space
{
	margin-top:0;
	margin-bottom:0;
	padding-top: 0;
	padding-bottom:0;
}

.tool-set 
{
	
}

.tool-set a {
    width: 98%;
	background: aliceBlue;
    display: inline-block;
	color: #333;
	box-sizing: border-box;
	font-weight: bold;
	text-align: center;
	padding: .25em;
	text-decoration: none;
	border: 1px solid steelBlue;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

.tool-set > .tools
{
	padding-top:.3em;
}

.tool-set > .tools > ul
{
	margin:0;
	padding:0;
	list-style: none;
}

.tool-set > .tools li
{
	float: left;
	width:60px;
	margin: 2px;
	text-align:center;
	box-sizing:border-box;
	border: 1px solid transparent;
	height: 100px;
    padding: 2px;
}

.tool-set > .tools li img
{
    width: 50px;
    height: 50px;
}

.tool-set > .tools li.selected
{
	background: aliceblue;
	border-color: steelblue;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tool-set > .tools li h4
{
	margin: 0;
}

/* Loading Styles */
.loading-section
{
	position:absolute;
	top:48%;
	display:none;
	width: 100%;
	text-align:center;
}

.loading-image
{
	background: url(images/ajax_loader.gif) no-repeat center;
	background-size:contain;
	height: 4em;
	width: 100%;
}

.loading-blocker
{
	background: black;
	opacity:.8;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
}

.loading-section .message
{
	width: 100%;
	text-align: center;
}

.loading .loading-blocker, .loading .loading-section
{
	display:block;
}

/* Print Preview Model Styles */
.export-image-viewport
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 1000;
}

.export-image-viewport .view
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 2em;
	box-sizing: border-box;
	background: #EEE;
	background-clip: content-box;
}

.export-image-viewport .view > div
{
	height: 100%;
	width: 100%;
}

.export-image-viewport .image-container
{
	background-clip: content-box;
	padding-bottom: 3em;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

.export-image-viewport .image-canvas
{
	background:white;
	border:1px solid #222;
	max-height: 100%;
	max-width: 100%;
	padding: .5em;
	box-sizing: border-box;
}

.export-image-viewport > div
{
	display: inline-block;
	height: 100%;
	width: 100%;
}

.export-image-viewport .actions
{
	height: 3em;
	position: absolute;
	bottom: 2em;
	right: 3em;
	left: 3em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.export-image-viewport .actions li
{
	float:right;
	margin:.5em;
	min-width:100px;
}

.export-image-viewport .view .working-indicator
{
	height: 6em;
	width: 6em;
	background: url("Images/ajax_loader.gif");
	background-size: contain;
	position: fixed;
	top: 40%;
	right: 48%;
	display: none;
}

.export-image-viewport .view .working-indicator.show 
{
	display: block;
}

/* Button Styles */
a.button, input.button
{
    width: 100px;
	background: aliceBlue;
    display: inline-block;
	color: #333;
	box-sizing: border-box;
	font-weight: bold;
	text-align: center;
	padding: .25em;
	text-decoration: none;
	border: 1px solid steelBlue;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.rightAlign 
{
    float: right;
}

/*


.display-label, .editor-label
{
	margin: 1em 0 0 0;
}

.display-field, .editor-field
{
	margin: 0.5em 0 0 0;
}

.text-box
{
	width: 30em;
}

.text-box.multi-line
{
	height: 6.5em;
}

.tri-state
{
	width: 6em;
}

.map
{
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 0em;
}

.map-name
{
	min-width: 400px;
}

.row.even-row
{
	padding-left: 4em;
}

.row
{
	padding: 0;
	margin: 0;
	clear: both;
}

.row ul
{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.row ul li
{
	float: left;
}

.index-map .actions
{
	display: inline-block;
	list-style: none;
	height: 2.3em;
	margin: 0;
	padding: 0 0 .5em 0;
}

.index-map .actions > *
{
	float: left;
	margin: 0 6px;
}

.index-map .actions > .full-line-height
{
	line-height: 2.3em;
}

.index-map .actions > *:first-child
{
	margin-left: 0px;
}

.index-map .actions > *:last-child
{
	margin-right: 0px;
}

.index-map .existing-maps 
{
	width: 100%;
}

.index-map .existing-maps thead td
{
	font-weight: bolder;
	color: #333;
	text-align: center;
}

.index-map .existing-maps .column.map-id
{
	width: 69px;
}

.index-map .existing-maps .column.delete-action
{
	width: 100px;
}

.edit-map .settings
{
	height:3em;
}

.edit-map .body 
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.edit-map .map-container 
{
	overflow:hidden;
	-webkit-box-flex: 1;
	position: relative;
	height:600px;
}

.edit-map .map-container .clip
{
	overflow:auto;
	position:absolute;
	width:100%;
	height:100%;
}

.edit-map .map-container .map
{
	position: relative;
}

.edit-map .map-container .map > * {
	position: absolute;
}

.map > .selection-layer > .active-tiles > polygon
{
	fill: white;
	fill-opacity: 0;
	stroke: black;
	stroke-width: 1px;
}

.map > .selection-layer > .active-tiles > polygon:hover {
	fill-opacity: .5;
}

.edit-map .toolbar
{
    height: 600px;
    overflow: auto;
	width: 230px;
	border: 2px solid #5C87B2;
	background: white;
	box-sizing: border-box;
	-webkit-box-flex: 0;
	box-flex: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.edit-map .toolbar .tool-sets {
	-webkit-box-flex: 1;
}

a.button, input.button
{
	background: aliceBlue;
	display: block;
	color: #333;
	box-sizing: border-box;
	font-weight: bold;
	text-align: center;
	padding: .25em;
	text-decoration: none;
	border: 1px solid steelBlue;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.button:hover, input.button:hover
{
	background: steelblue;
	color: White;
}

.edit-map .settings > div > *
{
	float: left;
	min-width: 100px;
	margin: 0 10px;
}

.edit-map .settings > div > *:first-child
{
	margin-left: 0;
}

.edit-map .settings > div > *:last-child
{
	margin-right: 0;
}

.loading-section
{
	position:absolute;
	top:48%;
	display:none;
	width: 100%;
	text-align:center;
}

.loading-image
{
	background: url(images/ajax_loader.gif) no-repeat center;
	background-size:contain;
	height: 4em;
	width: 100%;
}

.loading-blocker
{
	background: black;
	opacity:.8;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
}

.loading-section .message
{
	width: 100%;
	text-align: center;
}

.loading .loading-blocker, .loading .loading-section
{
	display:block;
}

.export-image-viewport
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 33, 0, .6);
}

.export-image-viewport .view
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 2em;
	box-sizing: border-box;
	background: #EEE;
	background-clip: content-box;
}

.export-image-viewport .view .image-container
{
	background-clip: content-box;
	padding-bottom: 3em;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
}

.export-image-viewport .view .image-container .image-canvas
{
	background:white;
	border:1px solid #222;
	max-height: 100%;
	max-width: 100%;
	padding: .5em;
	box-sizing: border-box;
}

.export-image-viewport .view .actions
{
	height: 3em;
	position: absolute;
	bottom: 2em;
	right: 3em;
	left: 3em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.export-image-viewport .view .actions li
{
	float:right;
	margin:.5em;
	min-width:100px;
}

.export-image-viewport .view .actions li > .button
{
	width: 100%;
}

.export-image-viewport .view .actions li:first-child
{
	margin-right:none;
}

.export-image-viewport .view .actions li:last-child
{
	margin-left:none;
}

.export-image-viewport .view .working-indicator
{
	height: 3em;
	width: 3em;
	background: url("Images/ajax_loader.gif");
	background-size: contain;
	position: fixed;
	top: 3em;
	right: 3em;
	display: none;
}

.export-image-viewport .view .working-indicator.show 
{
	display: block;
}

.long
{
	width: 100%;
}



.player-status
{
    clear: left;
    width: 1050px;
    border: steelblue 1px solid;
    background-color: lightsteelblue;
    border-top: none;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.player-map.body 
{
    width: 1000px;
}

.player-map .map-container 
{
    float: left;
	overflow: auto;
}

.player-map .toolbar
{
    position: relative;
}

.player-map .toolbar .icon
{    
    position: absolute;
    top: 10px;
    right: -150px;
	width: 60px;
	border: 1px solid gray;
    color: black;
	background: silver;
    opacity: .6;
}*/