@{
  ViewBag.Title = "Home Page";
}
<p>
  So, here's some utilities to help develop content for Piranha Gator. At least that's
  the end goal.
</p>
<p>
  For now, let's start with a map utility. Click on Map on the menu to get started.
</p>
