<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>	
	<link href="/Content/style.css" rel="stylesheet" type="text/css" />
	<link href="/Content/tulpagraphy.css" rel="stylesheet" type="text/css" />
	<script src="/Scripts/libs/underscore.js"></script>
	<script src="/Scripts/libs/jquery.js"></script>
    <script src="/Scripts/libs/jquery-ui-1.8.22.custom.min.js"></script>
	<script src="/Scripts/libs/knockout-2.1.0.js"></script>
    <script src="/Scripts/libs/knockout-mapping.js"></script>
	<script src="/Scripts/custom-ko-bindings.js"></script>
	<script src="/Scripts/tulpography.core.js"></script>
    <script src="/Scripts/event-tweaks.js"></script>
</head>
<body>
	<div class="page">
		<header>
			<div id="title">
				<h1>Tulpagraphy</h1>
			</div>
			<nav>
				<ul id="menu">
                    <li>@Html.ActionLink("Map", "Index", "Map")</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			@RenderBody()
		</section>
		<footer>
		</footer>
	</div>
</body>
</html>
